<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Goowalk,国外网址大全,国外网站分类导航,国外网站,外国网址全收录"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="bookmark" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/list.css">
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1"/>
    <title>Goowalk 国外网站大全</title>
</head>
<body>
<div class="top">
    <div class="logo">
        <a href="/" title="Goowalk 国外网站导航">
            <img src="/images/Logo.png" width="240" height="100" alt="国外网站导航">
        </a>
    </div>
</div>




<div class="content">
    <div class="title"><span>当前位置：</span><a href="/" class="nochecked">首页</a>><a href="#" class="checked"><h1>搜索【{$get}】</h1></a></div>
    <div class="list">
        {foreach $info as $key=>$vo }
        <div class="list-content">
            <div class="list-more">
                <div class="list-img">
                    <a href="site?name={$vo.sitename}" target="_blank">
                        <img src="/images/site/{$vo.img_logo}" title=""></a>
                </div>
                <div class="list-name">
                    <a href="">网站名称：<h2>{$vo.sitename}</h2></a>
                </div>
            </div>
            <div class="list-info">
                <a href="">网站简介：<h3>{$vo.info}</h3></a>
            </div>

        </div>
        {/foreach}


    </div>
</div>
</body>
